@model EcoKh.Web.Models.PZFViewModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fond.First().name_pzf)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.fond.First().znachenie.znachenie_pzf_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.fond)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name_pzf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.znachenie.znachenie_pzf_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type.type_pzf_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.territor.type_territor_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ploschad)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { pid = item.Id })
            </td>
        </tr>
    }

</table>